/* .product-link:hover {
  text-decoration: underline;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  margin-bottom: 20px;
}

/* welcome pg. */
.img {
  margin-top: 80px;
  width: 100%;
  height: 40vh;
}
.Welcome-Para {
  /* width: 700px; */
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  line-height: 1.6;
  font-size: x-large;
  /* padding-top: 30px; */
  /* padding-bottom: 30px; */
  /* padding-left: 150px;
  margin-left: 90px; */

  font-style: italic;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-style: italic;
  /* color: #722F37;*/
  color: #9b0047;
}

.recipe-search {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wine-search {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* check */
/* form {
  display: flex;
  justify-content: center;
} */

form input[type="text"] {
  flex-grow: 1;
  margin-right: 15px;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 50px;
  /* background-color:#E0115F ; */

  background-color: aquamarine;
}
form button[type="submit"] {
  background-color: wheat;
  color: black;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 50px;
}

form button[type="submit"]:hover {
  background-color: rgb(161, 169, 185);
}

/* wine display pg */
.paired-wines {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
 
  font-style: oblique;
  margin-top: 20px;
  
  
  margin-bottom: 20px;
  color: #9b0047;
}

.pairing-text {
  text-align: center;
  color: #555;
  line-height: 1.4;
  font-size: large;
  font-style: oblique;
}
/* h4 {
  text-align: center;
  
} */

h3 {
  text-align: center;
  font-size: 22px;
  margin-left: 350px;
  margin-top: 30px;
  margin-bottom: 10px;
}


/* .product-matches {
  margin-top: 20px;
} */

.wine-item {
 
  /* padding: 20px; */
  /* margin-bottom: 20px; */
  /* background-color: wheat; Light Gray Background Color */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  /* min-width: auto;
  min-height: auto; */
  /* margin-top: 30px; */
  /* justify-content: center; */
  /* margin-left: 400px;  */
  /* border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

}

.wine-image {
  height: 350px;
 margin-left: 450px;
  /* width: 250px;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 8px; */
  /* for media */
  /* width: auto;
  heigh
}

.wine-details {
  flex-grow: 1;t: auto; */
}
h4{
  text-align: center;
  margin-left: 350px;
  margin-bottom: 20px;

}

.product-link {
  text-align: center;
  margin-left: 500px;
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

/* 






.wine-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  gap: 60px;
  align-items: center;
  border-radius: 4px;
  margin-top: 20px;

  margin-left: 200px;
  margin-right: 200px;
}

*/


/* .product-link:hover {
  text-decoration: underline;
} */
/*  recipe cards */
#wineList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  width: 80%;
}

.recipe {
  /* background-color: #d1d5de; */
  background-color: wheat;
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 6px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  max-width: 350px;
  transition: transform 0.3s ease-in-out;
  padding: 15px;
  margin-bottom: 50px;
}

.recipe:hover {
  transform: scale(1.05);
}

.recipe img {
  height: 300px;
  border-radius: 6px;
}

.recipe h3 {
  margin: 10px 0;
  text-align: center;
  font-size: 22px;
  white-space: nowrap;
  width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px;
}

.recipe p {
  font-size: 18px;
  margin: 5px 0;
  text-align: center;
}

.view-recipe {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600px;
  margin: 18px auto;
  background-color: #9b0047;
  color: whitesmoke;

  /* background-color: #f46416; */
  /* color: #fff; */
}

.view-recipe:hover {
  background-color: #e0115f;
  /* background-color: #ff8c42; */
}

@media screen and (max-width: 600px) {
  #recipeSearchForm {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  #wineMatch {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  input {
    margin: 10px;
  }
}
